<ion-header translucent>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/information"></ion-back-button>
    </ion-buttons>
    <ion-title>ประวัติผู้ป่วย</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
  <h4>ชื่อ: <b>{{user_data.name}}</b></h4>
  <h4>นามสกุล: <b>{{user_data.lastname}}</b></h4>
  <h4>เลขบัตรประชาชน: <b>{{user_data.personid}}</b></h4>
  <h4>วัน/เดือน/ปีเกิด: <b>{{user_data.date_brithday}}</b></h4>
  <h4>ที่อยู่: <b>{{user_data.address}}</b></h4>
  <h4>ตำบล: <b>{{user_data.district}}</b></h4>
  <h4>อำเภอ: <b>{{user_data.sub_district}}</b></h4>
  <h4>จังหวัด: <b> {{user_data.provine}}</b></h4>
  <h4>เบอร์โทรศัพท์: <b>{{user_data.phone}}</b></h4>
  <h4>โรคประจำตัว: <b>{{user_data.disease}}</b></h4>
  <h4>คือ: <b>{{user_data.historyofillness}}</b></h4>
  <h4>สถานะบันทึกฟอร์ม14วัน:  <b>{{user_data.status}}</b></h4>
  <!-- <ion-card *ngFor="let item of load2" > -->
    <!-- <ion-item > -->
      <!-- <h4>โรคประจำตัว:{{item.disease}} <b></b></h4>
      <h4>คือ:{{item.historyofillness}} <b></b></h4> -->
      <!-- <ion-icon name="checkmark-circle-outline" color="success"></ion-icon> -->
      <!-- <ion-label>โรคประจำตัว: <b></b></ion-label>
      <ion-label>โรคประจำตัว: <b></b></ion-label> -->
    <!-- </ion-item> -->
  <!-- </ion-card> -->
  <h4>อัพเดท สถานะผู้ป่วย</h4>
  <ion-item>
    <ion-label>เลือก</ion-label>
    <ion-label></ion-label>
   
    <ion-select  [(ngModel)]="insertdata.updatestatus" name="provine"color="warning"   okText="ตกลง" cancelText="ยกเลิก" >
      <ion-select-option value="พยาบาลรับทราบข้อมูล">พยาบาลรับทราบข้อมูล</ion-select-option>
      <ion-select-option value="กำลังรักษา">กำลังรักษา</ion-select-option>
      <ion-select-option value="หายเป็นปกติแล้ว">หายเป็นปกติแล้ว</ion-select-option>
  
    </ion-select>
  </ion-item>
<!-- </ion-row> -->
  <ion-row>
    <!-- <ion-col float-right lines="none"> -->
      <ion-col>
          <ion-button (click)="saveupdatestatus()" type="submit" fill="solid" expand="full" color="danger">
              อัพเดทสถานะผู้ป่วย
          </ion-button>
      </ion-col>


  </ion-row>
  </ion-list>
</ion-content>