
  <ion-content>

    <ion-grid class="grid1">
    
        <ion-row class="row1">
            <ion-col>
    
            </ion-col>
        </ion-row>
    
        <ion-row class="row2">
            <ion-col>
    
            </ion-col>
        </ion-row>
    
    </ion-grid>
    
    <ion-slide>
        <div class="contaier-login">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h1>กรุณาเข้าสู่ระบบ</h1>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list>
    
                            <ion-item>
                                <ion-icon name="person" class="icon-login"></ion-icon>
                                <ion-input [(ngModel)]="insertdata.username" name="user" type="text" required placeholder="Username"></ion-input>
                            </ion-item>
                            <br />
                            <ion-item>
                                <ion-icon  name="lock" class="icon-login"></ion-icon>
                                <ion-input  [(ngModel)]="insertdata.password" name="password" type="password" required placeholder="Password"></ion-input>
                            </ion-item>
    
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button routerLink="/information" (click)="saveloginaddmin()" type="submit" fill="solid" expand="full">
                            Login
                        </ion-button>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                    
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-slide>
