<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Loginadmin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <!-- <ion-icon style="margin-top: 2%; margin-left: 45%" name="person"></ion-icon> -->
  <form>
    <ion-card>
    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      <ion-label>Username</ion-label>
      <ion-input type="text" name="username"></ion-input>
    </ion-item>
  </ion-card>
<ion-card>
    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label>Password</ion-label>
      <ion-input type="password" name="password"></ion-input>

    </ion-item>
  </ion-card>
   
    <ion-button style="margin-top: 10%; margin-left: 35%" ion-button type="submit" block>login</ion-button>
  </form>

</ion-content>
