
<ion-header translucent>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/information"></ion-back-button>
    </ion-buttons>
    <ion-title>หน้ารายงานภาพรวม</ion-title>
  </ion-toolbar>
</ion-header>
  
      <ion-card-header text = center> 
        รายชื่อสถานะผู้ป่วย ที่มีสถานะเสี่ยง
      </ion-card-header>
<ion-content>
  <ion-card color="medium">
        <ion-list *ngFor="let item of user_data" >
        <ion-item  color="secondary"  (click)="routeTo(item[0].id)"> 
          <ion-icon></ion-icon>
          <ion-label color ="dark"><h3> {{item[0].id}}</h3></ion-label>
          <ion-label color ="dark"><h3>{{item[0].name}} {{item[0].lastname}}</h3></ion-label> 
          <ion-icon></ion-icon>
        </ion-item>
        </ion-list>
    </ion-card>
  </ion-content>
 

