<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ข้อมูลผู้ป่วย</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-content color="medium">  -->
  <ion-card-header text = center> 
    Dashboard ข้อมูลผู้ป่วยที่มารับการตรวจคัดกรองโรค
  </ion-card-header>

<ion-content>
  <ion-card>
      <ion-item>
      <ion-button color="success">
        <ion-icon name="person" item-start></ion-icon>
        ปกติ
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button color ="warning">
        <ion-icon name="person" item-start></ion-icon>
        ปานกลาง
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="warning">
        <ion-icon name="person" item-start></ion-icon>
        เสี่ยง
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-button color="danger">
        <ion-icon name="person" item-start></ion-icon>
        เสี่ยงมาก
      </ion-button>
    </ion-item>
  
  </ion-card>
</ion-content>
