<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ข้อมูลผู้ป่วย</ion-title>
    <ion-buttons (click) ="logout()" slot="end" >
      <ion-icon name="log-out-outline"></ion-icon> 
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<!-- <ion-content color="medium">  -->
<ion-card-header text=center>
  Dashboard ข้อมูลผู้ป่วยที่มารับการตรวจคัดกรองโรค
</ion-card-header>

<ion-content>
  <ion-card color="medium">
    <ion-item color="medium">
      <ion-icon name="person" item-start color="danger"></ion-icon>
      <h3>ผู้ป่วยทั้งหมด:ราย</h3>
    </ion-item>
    <ion-item *ngFor="let item of count1" color="medium">
      <ion-icon name="add" item-start color="danger"  routerLink="/normalstatus"></ion-icon>
      <ion-label>สถานะปกติ {{item.count1}} คน</ion-label>
    </ion-item>
    <ion-item *ngFor="let item of count2" color="medium">
      <ion-icon name="add" item-start color="danger"  routerLink="/mediumstatus"></ion-icon>
      <ion-label>สถานะปานกลาง {{item.count2}} คน</ion-label>
    </ion-item>
    <ion-item *ngFor="let item of count3" color="medium">
      <ion-icon name="add" item-start color="danger"  routerLink="/riskystatus"></ion-icon>
      <ion-label>สถานะเสี่ยง {{item.count3}}คน</ion-label>
    </ion-item>
    <ion-item *ngFor="let item of count4" color="medium" >  
      <ion-icon name="add"  item-start color="danger"  routerLink="/veryriskystatus"></ion-icon>
      <ion-label>สถานะเสี่ยงมาก {{item.count4}} คน</ion-label>
    </ion-item>
  </ion-card>

  <ion-card color="medium">
    <ion-item color="danger" *ngFor="let item of patientnow">
      <ion-icon name="person" item-start color="medium"></ion-icon>
      <ion-label>พบใหม่วันนี้: {{item.patientnow}} ราย</ion-label>
    </ion-item>
  </ion-card>

  <ion-button (click)="showChart()">
    <h6>แสดงแผนภูมิ</h6>
  </ion-button>
  <!-- </ion-item> -->
  <div id="chart_div"></div>
</ion-content>

<!-- <ion-information> -->
<ion-tab-bar color="primary" slot="bottom">
  <ion-tab-button routerLink="/information">
    <ion-icon name="person"></ion-icon>
    <ion-label>ข้อมูล</ion-label>
  </ion-tab-button>
  <!-- <ion-tab-button routerLink="/patientgraph">
    <ion-icon name="stats-chart-outline"></ion-icon>
    <ion-label>กราฟ</ion-label>
  </ion-tab-button> -->
  <ion-tab-button routerLink="/patientmap">
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>สถานะผู้ป่วย</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink="/addformquestion">
    <ion-icon name="clipboard"></ion-icon>
    <ion-label>เพิ่มแบบฟอร์ม</ion-label>
  </ion-tab-button>
</ion-tab-bar>
<!-- </ion-information> -->