<ion-header>
  <ion-toolbar color = "primary">
    <ion-title><ion-icon name="arrow-back-outline" routerLink="/information"></ion-icon>หน้ารายงานภาพรวม</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <ion-card-header text = center> 
      <h3>รายชื่อสถานะผู้ป่วย ที่มีสถานะปานกลาง</h3> 
     
      
     </ion-card-header>
    <ion-card-header  routerlink ="/patientmap" >
      <ion-icon name="person"></ion-icon>
      <ion-label>นางสุดใจ มีสุข</ion-label>
      
    </ion-card-header>
  
  
     
    <!-- <ion-item > -->
  <!-- <ion-button (click)="showChart()"><h6>แสดงแผนภูมิ</h6></ion-button> -->
  <!-- </ion-item> -->
  <!-- <div id="chart_div"></div> -->

  </ion-content>