<ion-header> 
  <ion-toolbar color ="primary"> 
  <ion-title> 
  </ion-title> 
  </ion-toolbar> 
  </ion-header>  
  
  <ion-content color="light"> 
    <!-- <h3> แบบคัดกรองและประเมินความเสี่ยง</h3> -->
    <list>
      <ion-card-header text = center> 
       <h3>แบบคัดกรองและประเมินความเสี่ยง</h3> 
      </ion-card-header>

    <ion-card>
      <ion-item color="warning"> 
        <ion-icon name="medkit-outline" color="danger"></ion-icon>
        <ion-label>
        <h3>  ข้อที่ 1 : ผู้ป่วยมีอุณหภูมิกายตั้งแต่ 37.5 องศาขึ้นไป </h3>
        <h3> หรือให้ประวัติว่ามีไข้</h3>
     </ion-label>
     </ion-item>
    <ion-item  color="light">
      <ion-label  position="fixed"><h3>คำตอบ</h3></ion-label>   
        <ion-label></ion-label>
        <ion-select [(ngModel)]="insertdata.questionnaire1"  color="warning"   okText="ตกลง" cancelText="ยกเลิก">
          <ion-select-option value="1" >ต่ำกว่า 37.5</ion-select-option>
          <ion-select-option value="0" >สูงกว่าหรือ=37.5หรือรู้สึกว่ามีไข้</ion-select-option>
        </ion-select>
     </ion-item>
     <ion-item class="display" color="warning"> 
      <ion-icon name="medkit-outline" color="danger"></ion-icon>
       <ion-label>
           <h3> ข้อที่2: ผู้ป่วยมีอาการระบบทางเดินหายใจอย่างใด</h3>
         <h3>อย่างหนึ่งดังต่อไปนี้หรือหายใจลำบาก"ไอ น้ำมูก เจ็บคอ </h3>
         <h3>หายใจเหนื่อย</h3>
    </ion-label>
    </ion-item>
     <ion-item  color="light">
      <ion-label  ><h3>คำตอบ</h3></ion-label>
        <ion-label></ion-label>
        <ion-select [(ngModel)]="insertdata.questionnaire2"   color="warning"   okText="ตกลง" cancelText="ยกเลิก">
          <ion-select-option value="1" >มี</ion-select-option>
          <ion-select-option value="0" >ไม่มี</ion-select-option>
        </ion-select>
     </ion-item>
     <ion-item color="warning"> 
      <ion-icon name="medkit-outline" color="danger"></ion-icon>
      <ion-label>
      <h3> ข้อที่3:ผู้ป่วยมีประวัติเดินทางไปยัง หรือ มาจาก หรือ</h3>
       <h3>  อาศัยอยู่ในพื้นที่เกิดโรค COVID-19 ในช่วงเวลา 14 วัน
       
   </h3>
   </ion-label>
   </ion-item>
     <ion-item  color="light">
      <ion-label  position="fixed"><h3>
        คำตอบ</h3></ion-label>
        <ion-label></ion-label>
        <ion-select [(ngModel)]="insertdata.questionnaire3"  color="warning"   okText="ตกลง" cancelText="ยกเลิก">
          <ion-select-option value="1" >มี</ion-select-option>
          <ion-select-option value="0" >ไม่มี</ion-select-option>
        </ion-select>
     </ion-item>
     <ion-item color="warning"> 
      <ion-icon name="medkit-outline" color="danger"></ion-icon>
      <ion-label>
      <h3> ข้อที่ 4 : อยู่ใกล้ชิดกับผู้ป่วยยืนยัน COVID-19 </h3>
      <h3>(ใกล้กว่า 1 เมตร นานเกิน 5 นาที) ในช่วง 14 วันก่อน</h3>
   </ion-label>
   </ion-item>
     <ion-item  color="light">
      <ion-label  position="fixed"><h3>คำตอบ</h3></ion-label>
        <ion-label></ion-label>
        <ion-select  [(ngModel)]="insertdata.questionnaire4"  color="warning"   okText="ตกลง" cancelText="ยกเลิก">
          <ion-select-option value="1" >มี</ion-select-option>
          <ion-select-option value="0" >ไม่มี</ion-select-option>
        </ion-select>
     </ion-item>

     <ion-item color="warning">  
      <ion-icon name="medkit-outline" color="danger"></ion-icon>
      <ion-label>
      <h3> ข้อที่ 5 : มีประวัติไปสถานที่ชุมนุมชน หรือสถานที่ที่มี  </h3>
      <h3> การรวมกลุ่มคนเช่น ตลาดนัด ห้างสรรพสินค้า </h3>
      <h3> สถานพยาบาล หรือ ขนส่งสาธารณะ</h3>
   </ion-label>
   </ion-item>
     <ion-item  color="light">
      <ion-label  position="fixed"><h3>คำตอบ</h3></ion-label>
        <ion-label></ion-label>
        <ion-select [(ngModel)]="insertdata.questionnaire5"  color="warning"   okText="ตกลง" cancelText="ยกเลิก">
          <ion-select-option value="1" >มี</ion-select-option>
          <ion-select-option value="0" >ไม่มี</ion-select-option>
        </ion-select>
     </ion-item>
    </ion-card>
     <!-- <ion-item><ion-label>  ท่านมีอาการต่อไปนี้หรือไม่(หากไม่มีไม่ต้องทำเครื่่องหมายใดๆ </ion-label></ion-item> -->
     <ion-card>
      <ion-item color="warning"> 
        <ion-icon name="medkit-outline" color="danger"></ion-icon>
        <ion-label>
        <h3>ข้อที่6: ผู้ป่วยประกอบอาชีพที่สัมผัสใกล้ชิดกับ</h3>
        <h3>นักท่องเที่ยวต่างชาติสถานที่แออัดหรือ</h3>
        <h3>ติดต่อคนจำนวนมาก</h3>
     </ion-label>
     </ion-item>
     <ion-item  color="light">
      <ion-label  position="fixed"><h3>คำตอบ</h3></ion-label>
        <ion-label></ion-label>
        <ion-select  [(ngModel)]="insertdata.questionnaire6"  color="warning"   okText="ตกลง" cancelText="ยกเลิก">
          <ion-select-option value="1" >ใช่</ion-select-option>
          <ion-select-option value="0" >ไม่ใช่</ion-select-option>
        </ion-select>
     </ion-item>
     <ion-item color="warning"> 
      <ion-icon name="medkit-outline" color="danger"></ion-icon>
      <ion-label>
      <h3>ข้อที่ 7 : เป็นบุคลากรทางการแพทย์
       
   </h3>
   </ion-label>
   </ion-item>
     <ion-item  color="light">
      <ion-label  position="fixed"><h3>คำตอบ</h3></ion-label>
        <ion-label></ion-label>
        <ion-select  [(ngModel)]="insertdata.questionnaire7"  color="warning"   okText="ตกลง" cancelText="ยกเลิก">
          <ion-select-option value="1" >ใช่</ion-select-option>
          <ion-select-option value="0" >ไม่ใช่</ion-select-option>
        </ion-select>
     </ion-item>
     <ion-item color="warning"> 
      <ion-icon name="medkit-outline" color="danger"></ion-icon>

      <ion-label>
      <h3> ข้อที่่8: มีผู้ใกล้ชิดป่วยเป็นไข้หวัดพร้อมกันมากกว่า5คน</h3>
      <h3> ในช่วงสัปดาห์ที่ป่วย</h3>
   </ion-label>
   </ion-item>
     <ion-item  color="light">
      <ion-label  position="fixed"><h3>คำตอบ</h3></ion-label>
        <ion-label></ion-label>
        <ion-select  [(ngModel)]="insertdata.questionnaire8"  color="warning"   okText="ตกลง" cancelText="ยกเลิก">
          <ion-select-option value="1" >มี</ion-select-option>
          <ion-select-option value="0" >ไม่มี</ion-select-option>
        </ion-select>
     </ion-item>
   
      
      <ion-list *ngFor="let item of addformquestion" >
        <ion-item color="warning"> 
          <ion-icon name="medkit-outline" color="danger"></ion-icon>
        <ion-label>
          <h3> 
            {{item.topic}}
       </h3>
       </ion-label>
        </ion-item>

       <ion-item color="light">
        <ion-icon name="medkit-outline" color="danger"></ion-icon>
        <ion-label ><h3>{{item.question}}</h3></ion-label>
          <!-- <ion-label></ion-label>
          <ion-input> </ion-input> -->

          <!-- <ion-label  position="fixed"><h3>{{item.question}}</h3></ion-label> -->
          <ion-label></ion-label>
       </ion-item>
       <ion-item><ion-input> </ion-input> </ion-item>
          </ion-list>
   
    
    </ion-card>
    <ion-row>
      <ion-col>
          <ion-button  (click)="savescreening()" type="submit" fill="solid" expand="full"color="primary">
              บันทึก
          </ion-button>
      </ion-col>
      <ion-col>
        <ion-button  routerLink="/screeningresult"  type="submit" fill="solid" expand="full" color="danger">
            ดูผลการประเมิน
        </ion-button>
    </ion-col>

  </ion-row>
    <!-- <ion-button  (click)="savescreening()" type="submit" ion-button secondary style="margin-top: 10%; margin-left: 35%" color="danger">บันทึก</ion-button>
    <ion-button     routerLink="/screeningresult"  type="submit" ion-button secondary style="margin-top: 10%; margin-left: 35%" color="danger">ดูผลการประเมิน</ion-button> -->
  </list>
  </ion-content>   
  <!-- <ion-toolbar > 
    <ion-title> 
    </ion-title> 
    </ion-toolbar>  -->

<!-- 
    routerLink="/screeningresult" -->