
<ion-content>

  <ion-grid class="grid1">
  
      <ion-row class="row1">
          <ion-col>
  
          </ion-col>
      </ion-row>
  
      <ion-row class="row2">
          <ion-col>
  
          </ion-col>
      </ion-row>
  
  </ion-grid>
  
  <ion-slide>
      <div class="contaier-login">
        <div class="ion-padding">
            <form #f="ngForm" novalidate (ngSubmit)="onSubmit(f)">
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <h1>กรุณาเข้าสู่ระบบ</h1>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>
  
                        
                           <ion-item>
                              <ion-icon name="lock" class="icon-login"></ion-icon>
                              <ion-input  required [(ngModel)]="insertdata.personid" name="personid" type="password" required placeholder="รหัสบัตรประชาชน"></ion-input>
                          </ion-item> 
                          
                        <ion-item [hidden]="f.controls.personid && (f.controls.personid.valid || (f.controls.personid.pristine && !isSubmitted))">
                            <ion-text color="danger">*personid is required</ion-text>
                          </ion-item>
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                        
                      <ion-button (click) ="checklogin()"type="submit" fill="solid" expand="full">
                        เข้าสู่ระบบ
                    </ion-button>
                  </ion-col>
                 
              </ion-row>
              <h5> หรือ</h5>
              <ion-row>
                <ion-col>
                  <ion-button   routerLink="/register" type="submit" fill="outline" expand="block">
                      ลงทะเบียน
                  </ion-button>
              </ion-col>
              
              </ion-row>
          </ion-grid>
          </form>
          </div>
      </div>
  </ion-slide>