<ion-header>
  <ion-toolbar color ="primary">
    <!-- <ion-button color="light" (click)="dismissLogin()">Close</ion-button> -->
    <!-- <ion-title text-right >Loginpatient</ion-title> -->
  </ion-toolbar>
</ion-header>
 <h5> กรุณาเข้าสู่ระบบ</h5> 
 <!-- <p text-center>ลงทะเบียน</p> -->

<ion-content>

  <form>
<ion-card>
    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label>รหัสบัตรประชาชน</ion-label>
      <ion-input type="password" name="password"></ion-input>

    </ion-item>
  </ion-card>
  
    <ion-button type="submit" expand="full" color="primary">Login</ion-button> 
  </form>

  <p text-center>ลงทะเบียน</p>
  <ion-button routerLink="/description" expand="full" color="danger" (click)="registerModal()">Register</ion-button>
</ion-content>