<!-- <ion-header>
  <ion-toolbar color ="primary"> -->
    <!-- <ion-button color="light" (click)="dismissLogin()">Close</ion-button> -->
    <!-- <ion-title text-right >Loginpatient</ion-title> -->
  <!-- </ion-toolbar>
</ion-header>
 <h5> กรุณาเข้าสู่ระบบ</h5>  -->
 <!-- <p text-center>ลงทะเบียน</p> -->
<!-- 
<ion-content>

  <form> -->
<!-- <ion-card>
    <ion-item>
      <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-label>รหัสบัตรประชาชน</ion-label>
      <ion-input type="password" name="password"></ion-input>

    </ion-item>
  </ion-card> -->
  
    <!-- <ion-button type="submit" expand="full" color="primary">Login</ion-button> 
  </form>

  <p text-center>ลงทะเบียน</p>
  <ion-button routerLink="/description" expand="full" color="danger" (click)="registerModal()">Register</ion-button>
</ion-content> -->

<ion-content>

  <ion-grid class="grid1">
  
      <ion-row class="row1">
          <ion-col>
  
          </ion-col>
      </ion-row>
  
      <ion-row class="row2">
          <ion-col>
  
          </ion-col>
      </ion-row>
  
  </ion-grid>
  
  <ion-slide>
      <div class="contaier-login">
          <ion-grid>
              <ion-row>
                  <ion-col>
                      <h1>กรุณาเข้าสู่ระบบ</h1>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <ion-list>
  
                          <!-- <ion-item>
                              <ion-icon name="lock-closed-outline"></ion-icon>
                              <ion-input name="user" type="text" required placeholder="Usuario"></ion-input>
                          </ion-item>
                          <br /> -->
                           <ion-item>
                              <ion-icon name="lock" class="icon-login"></ion-icon>
                              <ion-input [(ngModel)]="insertdata.personid" name="password" type="password" required placeholder="เข้าใช้งานด้วยรหัสบัตรประชาชน"></ion-input>
                          </ion-item> 
  
                      </ion-list>
                  </ion-col>
              </ion-row>
              <ion-row>
                  <ion-col>
                      <!-- <ion-button  routerLink="/description" (click) ="saveloginpatient()"type="submit" fill="solid" expand="full">
                          เข้าสู่ระบบ
                      </ion-button> -->
                      <ion-button  (click) ="saveloginpatient()"type="submit" fill="solid" expand="full">
                        เข้าสู่ระบบ
                    </ion-button>
                  </ion-col>
                 
              </ion-row>
              <h5> หรือ</h5>
              <ion-row>
                <ion-col>
                  <ion-button   routerLink="/register" type="submit" fill="outline" expand="block">
                      ลงทะเบียน
                  </ion-button>
              </ion-col>
                  <!-- <ion-col>
                      <ion-label>
                          <h3>¿Olvido la contraseña?</h3>
                      </ion-label>
                  </ion-col> -->
              </ion-row>
          </ion-grid>
      </div>
  </ion-slide>