  <!-- <ion-header translucent>
    <ion-toolbar color = "primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/screeningresult"></ion-back-button>
      </ion-buttons>
      <ion-title>ไอรู้สู้โควิด ถาม-ตอบ</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
    <input ion-text type="text" [(ngModel)]="question">
  
    <button ion-button (click)="ask(question)">
      Ask
    </button>
  
   <div>
      {{answer}}
    </div>
   -->
   <!-- <div *ngFor="let answer of answers">
    {{answer}}
  </div>
  </ion-content>
 --> 
 <ion-header>
  <ion-toolbar color="primary" class="page-toolbar">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
          <img src="../../assets/icon/logga.png" style="display:inline-block" height="30px" />
      </ion-title>
  </ion-toolbar>
  <ion-grid color="primary" style="background-color: #3B647A">
      <ion-row>
          <ion-col padding padding-top padding-bottom>
              <ion-title color="tertiary">
                  {{ 'CONTACT_TITLE' | translate }}
              </ion-title>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-header>
<ion-content>
  <ion-list>
      <ion-list-header>{{ 'FOLLOW_SOCIAL_MEDIA' | translate }}</ion-list-header>
      <ion-item (click)="openUrl('facebook', 'test', 'https://www.facebook.com/test/')">
          <ion-icon name="logo-facebook" slot="start"></ion-icon>
          Facebook
      </ion-item>
      <ion-item (click)="openUrl('instagram', 'test')">
          <ion-icon name="logo-instagram" slot="start"></ion-icon>
          Instagram
      </ion-item>
  </ion-list>
</ion-content>