  <ion-header translucent>
    <ion-toolbar color = "primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/screeningresult"></ion-back-button>
      </ion-buttons>
      <ion-title>ไอรู้สู้โควิด ถาม-ตอบ</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  
    <input ion-text type="text" [(ngModel)]="question">
  
    <button ion-button (click)="ask(question)">
      Ask
    </button>
  
    <!-- <div>
      {{answer}}
    </div>
   -->
   <div *ngFor="let answer of answers">
    {{answer}}
  </div>
  </ion-content>

