<ion-header translucent>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/information"></ion-back-button>
    </ion-buttons>
    <ion-title>ประวัติผู้ป่วย</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <h4>ชื่อ: <b>{{user_data.name}}</b></h4>
  <h4>นามสกุล: <b>{{user_data.lastname}}</b></h4>
  <h4>เลขบัตรประชาชน: <b>{{user_data.personid}}</b></h4>
  <h4>วัน/เดือน/ปีเกิด: <b>{{user_data.date_brithday}}</b></h4>
  <h4>ที่อยู่: <b>{{user_data.address}}</b></h4>
  <h4>ตำบล: <b>{{user_data.district}}</b></h4>
  <h4>อำเภอ: <b>{{user_data.sub_district}}</b></h4>
  <h4>จังหวัด: <b> {{user_data.provine}}</b></h4>
  <h4>เบอร์โทรศัพท์: <b>{{user_data.phone}}</b></h4>
  <h4>โรคประจำตัว: <b>{{user_data.disease}}</b></h4>
  <h4>คือ: <b>{{user_data.historyofillness}}</b></h4>
  <h4>สถานะบันทึกฟอร์ม14วัน: <b>{{user_data.status}}</b></h4>
  

</ion-content>