<ion-content>
  <div class="container ion-text-center">
    <img src="assets/splash.png">
    <ion-text color="dark">
      <h1>เมนูเข้าใช้งาน</h1>
    </ion-text>
    
    </div>
    
  <ion-card color="medium">
    <ion-item color="warning">
      <ion-icon name="caret-forward-outline"></ion-icon>
      <ion-label routerLink="/screening">แบบคัดกรองและประเมินความเสี่ยง</ion-label>
   
    </ion-item>
  </ion-card>
  <ion-card color="medium">
    <ion-item color="warning">
      <ion-icon name="caret-forward-outline"></ion-icon>
      <ion-label routerLink="/form14day">แบบบันทึกฟอร์ม14วัน</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
