<ion-header> 
  <ion-toolbar color ="primary"> 
  <ion-title> 
 หน้าเพิ่มแบบฟอร์ม
  </ion-title> 
  </ion-toolbar> 
  </ion-header>  
  <ion-content color=""> 
    <ion-card color="success">
    <ion-list-header> 
      ชื่อหัวข้อ 
      </ion-list-header>  
    </ion-card>
    <ion-card>
  <ion-label position="stacked">กรอกหัวข้อ</ion-label>
  <ion-item>
    <ion-input type="text" value="ไม่มี" [(ngModel)]="insertdata.addform1"></ion-input>
  </ion-item>
  <!-- <ion-input></ion-input> -->
</ion-card>
<ion-card color="success">
<ion-list-header> 
  เพิ่มคำถาม 
  </ion-list-header>  
</ion-card>
<ion-card>
<ion-label position="stacked">กรอกคำถาม</ion-label>
 <ion-item> 
  <ion-input type="text" value="ไม่มี" [(ngModel)]="insertdata.addform2"></ion-input>
 </ion-item> 
<!-- <ion-input></ion-input> -->
</ion-card>

<ion-row>
  <ion-col>
      <ion-button (click)="saveaddformquestion()"  type="submit" fill="solid" expand="full"color="danger">
        บันทึกฟอร์ม
      </ion-button>
  </ion-col>
</ion-row>
</ion-content > 

<ion-tab-bar color="primary" slot="bottom">
  <ion-tab-button routerLink="/information">
    <ion-icon name="person"></ion-icon>
    <ion-label>ข้อมูล</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink="/patientgraph">
    <ion-icon name="stats-chart-outline"></ion-icon>
    <ion-label>กราฟ</ion-label>
  </ion-tab-button>
<ion-tab-button  routerLink="/patientmap">
  <ion-icon name="location-outline"></ion-icon>
  <ion-label>สถานะผู้ป่วย</ion-label>
</ion-tab-button>
<ion-tab-button routerLink="/addformquestion">
  <ion-icon name="clipboard"></ion-icon>
  <ion-label>เพิ่มแบบฟอร์ม</ion-label>
</ion-tab-button>
