
<ion-header translucent>
  <ion-toolbar color = "primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/form14day"></ion-back-button>
    </ion-buttons>
    <ion-title> ข้อมูลบันทึกฟอร์ม14วัน</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-list>
    <h4>อัพเดพข้อมูล: <b>{{user_data.updatestatus}}</b></h4>
  </ion-list> -->
  <!-- <ion-item  *ngFor="let item of statususer">

    <ion-label>
      <h5>No: <b>{{item.updatestatus}} </b></h5>
     
    </ion-label>
  </ion-item> -->
  <!-- <ion-card-header text = center>  -->
    <!-- <h3> แสดงรายละเอียดข้อมูล14วัน </h3> 
    <h4>o<b>{{user_data.updatestatus}}</b></h4>   -->
    <!-- ดึงข้อมูล  updatestatus มาจากคาราง user โดยส่งค่ากลับมาตาม id ที่ส่งมาใน ไฟล์ name....ผู้ป่วย ข้อมูลจะได้มาจากแพทย์พยาบาลอัพเดพข้อมูลลงใน Database ตามid  -->
  <!-- </ion-card-header> -->
  <ion-card *ngFor="let item of dataform14day; let i = index" color="success">
    <ion-card-content><ion-icon name="happy-outline" color ="danger"></ion-icon> 
      <h4>Day : <b>{{ i + 1 }}</b></h4>
      <h4>วันที่ :<b>{{item.date}} </b></h4>
      <h4>สถานะ :<b>{{item.status}} </b></h4>
      <!-- <h5>No: <b>{{item.updatestatus}} </b></h5> -->
    </ion-card-content>
  </ion-card>
  <ion-card >
    <ion-item  *ngFor="let item of statususer" >
      <!-- <ion-icon name="checkmark-circle-outline" color="success"></ion-icon> -->
      <ion-label>{{item.updatestatus}} </ion-label>
    </ion-item>
  </ion-card>
  <ion-tab-bar color="primary" slot="bottom">
  </ion-tab-bar>

</ion-content>