<!-- <ion-header>
  <ion-toolbar color ="primary">
    <ion-title>คัดกรอง COVID-19</ion-title>
  </ion-toolbar>
</ion-header>
<ion-list-header> 
  <h2>แบบคัดกรองโควิด 19(COVID-19)</h2>
</ion-list-header>  

<ion-content>
  <ion-card color ="light" >
 
  
    <ion-card-content>
      คำอธิบายแบบคัดกรองท่านสามารถทำแบบคัดกรองผู้ป่วย COVID-19 คัดกรองผ่าน Ifightcovid19 App หากท่านไม่มีความประสงค์จะเข้ารับการคัดกรอง กรุณาปิดแล้วออกจากหน้านี้
      กรุณาเลือกเพียงหนึ่งคำตอบจากตัวเลือกที่ปรากฏ
      
    </ion-card-content>
    <div class="wrapper ">
    <ion-checkbox checked="true"></ion-checkbox>
  </div>
    <ion-card-content>
      ข้าพเจ้ารับทราบคำอธิบายแบบคัดกรองและต้องการเข้ารับการคัดกรองCOVID-19
    </ion-card-content>
  </ion-card>
  <ion-button routerLink="/healthform"style="margin-top: 10%; margin-left: 35%" ion-button type="submit" block>ยอมรับ</ion-button>

</ion-content> -->
 
<ion-header> 
  <ion-toolbar color="primary"> 
  <ion-title>คัดกรอง COVID-19</ion-title> 
  </ion-toolbar> 
 </ion-header> 

 <ion-list-header> 
  <h2>แบบคัดกรองโควิด 19(COVID-19)</h2>
</ion-list-header>  

 <ion-content padding="" color="light"> 
  <ion-card-content>
    คำอธิบายแบบคัดกรองท่านสามารถทำแบบคัดกรองผู้ป่วย COVID-19 คัดกรองผ่าน Ifightcovid19 App หากท่านไม่มีความประสงค์จะเข้ารับการคัดกรอง กรุณาปิดแล้วออกจากหน้านี้
    กรุณาเลือกเพียงหนึ่งคำตอบจากตัวเลือกที่ปรากฏ
    
  </ion-card-content>
  <div class="wrapper ">
  <ion-checkbox checked="true"></ion-checkbox>
</div>
  <ion-card-content>
    ข้าพเจ้ารับทราบคำอธิบายแบบคัดกรองและต้องการเข้ารับการคัดกรองCOVID-19
  </ion-card-content>

  <div> 
  <ion-button (click)="showConfirm()" expand="block">ลงเบียน</ion-button> 
  </div>
 </ion-content>    