
<ion-content padding id="welcome">
  <!-- <img src="assets/icon/doctor1.png" class="logo"/> -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1> ยินดีต้อนรับเข้าสู่ Ifightcovid-19 App</h1>
        <h2>กรุณาเข้าสู่ระบบ</h2> 
        <ion-img  style="align-items: center"  src="/assets/doctor.svg"  height='45' width='40'></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid >
    <ion-row align-items-center>
      <ion-col>
        <button  routerLink="/description">
            <div>
                <ion-icon name="newspaper-sharp" color="warning"></ion-icon><br>
                <label>แบบคัดกรอง</label>
            </div>
        </button>
    </ion-col>
    <ion-col>
      <button routerLink="/chatbot">
          <div>
              <ion-icon name="chatbox-ellipses-sharp" color="danger">
              </ion-icon><br>
              <label>ไอรู้สู้โควิดถามตอบ</label>
          </div>
      </button>
  </ion-col>
    </ion-row>
  </ion-grid>
 
  <ion-row>
    <ion-col>
      <!-- <ion-icon name="newspaper-sharp"></ion-icon> <ion-icon name="chatbox-ellipses-sharp"></ion-icon> -->

        <ion-button  routerLink="/register" (click)="saveloginaddmin()" type="submit" fill="solid" expand="full">
          สำหรับผู้ป่วย
        </ion-button>
        <ion-button routerLink="/loginadmin" (click)="saveloginaddmin()" type="submit" fill="solid" expand="full">
          สำหรับแพทย์และพยาบาล
      </ion-button>
    </ion-col>
</ion-row>
  <!-- <ion-button  routerLink="/register" shape="round" expand="block">สำหรับผู้ป่วย</ion-button>
    <ion-button routerLink="/loginadmin" shape="round" expand="block">สำหรับแพทย์และพยาบาล</ion-button>
    <button ion-button full color="lightText" (click)="login()">Log in</button> -->
</ion-content>