
<ion-content padding id="welcome">
  
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1> ยินดีต้อนรับเข้าสู่ Ifightcovid-19 App</h1>
        <h2>กรุณาเข้าสู่ระบบ</h2> 
        <ion-img  style="align-items: center"  src="/assets/doctor.svg"  height='45' width='40'></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid >
    <ion-row align-items-center>
      <ion-col>
        <button  routerLink="/description">
            <div>
                <ion-icon name="newspaper-sharp" color="warning"></ion-icon><br>
                <label>แบบคัดกรอง</label>
            </div>
        </button>
    </ion-col>
    <ion-col> -->
      <!-- <a href="https://lin.ee/z7kLUCI"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/th.png" alt="เพิ่มเพื่อน" height="36" border="0"></a> -->

      <!-- <a href="https://lin.ee/z7kLUCI"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/th.png" alt="เพิ่มเพื่อน" height="36" border="0"></a> -->
      <!-- <button href="https://lin.ee/z7kLUCI" target="_blank">
          <div>
              <ion-icon name="chatbox-ellipses-sharp" color="danger">
              </ion-icon><br>
              <label>ไอรู้สู้โควิดถามตอบ</label>
          </div>
      </button>

  </ion-col>
    </ion-row>
  </ion-grid>
  -->

  
  <!-- <div [innerHTML]="snippet"></div> -->
  <ion-row>
    <ion-col>
      <!-- <ion-icon name="newspaper-sharp"></ion-icon> <ion-icon name="chatbox-ellipses-sharp"></ion-icon> -->
      

        <ion-button  routerLink="/register"  type="submit" fill="solid" expand="full">
          สำหรับผู้ป่วย
        </ion-button>
        <ion-button routerLink="/loginadmin"  type="submit" fill="solid" expand="full">
          สำหรับแพทย์และพยาบาล
      </ion-button>
    </ion-col>
</ion-row>
  <!-- <ion-button  routerLink="/register" shape="round" expand="block">สำหรับผู้ป่วย</ion-button>
    <ion-button routerLink="/loginadmin" shape="round" expand="block">สำหรับแพทย์และพยาบาล</ion-button>
    <button ion-button full color="lightText" (click)="login()">Log in</button> -->
</ion-content>